.banner-container{
    width: 100%;
    padding-left: var(--DEFAULT-CONTAINER-PADDING);
    padding-right: var(--DEFAULT-CONTAINER-PADDING);
}
.banner-image{
    object-fit:cover;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
@media screen and (max-width:768px) {
    .banner-container {
            padding-left: 30px;
            padding-right: 30px;
    }
    .banner-image {
        height: 100px;
    }
}
@media screen and (max-width:400px) {
    .banner-container {
            padding-left: 20px;
            padding-right: 20px;
        }
}
