.cart-main-container{
    padding-left: var(--DEFAULT-CONTAINER-PADDING);
    padding-right: var(--DEFAULT-CONTAINER-PADDING);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cart-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    background-color: #e8f0f0;
}
.cart-image-container>img{
    width: 140px;
}
.shipping-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 100px;
}
.cart-items-container{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
}
.shipping-form >h2,        .main-container-cart>h2{
    margin-bottom: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(44, 38, 30);
    color: aliceblue;
    border-radius: 20px;
}
         .main-container-cart>h2{
    margin-bottom:  20px;
}
.form-input-container{
    display: flex;
    justify-content:space-between;
    padding-left: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    align-items: center;
    position: relative;
}
.form-input-container>input{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cart-item-delete-button{
    width: 30px;
    cursor: pointer;
    border: 0px;
}
.cart-item-delete-button:hover{
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: black;
}
.cart-btns{
    display: flex;
    justify-content: space-around;
}
.cart-btns>button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.checkout-button:disabled{
    display: none;
}
.error-message{
    width: 100%;
    text-align: left;
    font-size: 10px;
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.error-validation{
    border: solid 1px red;
}
.total-price-cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 10px;
}
.total-price-cart-container>p{
        background-color: #000000;
        width: 50%;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
}
        .cart-quantity-controller {
        display: flex;
        justify-content: center;
        }
@media screen and (max-width:768px) {
    .cart-main-container {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
    }
    .cart-items-price-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 3px;
    }
        .cart-items-price-container>h4{
        font-size: 13px;
        }
        .cart-items-price-container>p{
        font-size: 13px;
        }
        .cart-quantity-controller>input{
        font-size: 12px;
        }
        .cart-item-delete-button{
        width: 100px;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        }
        .total-price-cart-container>p{
        font-size: 12px;
        }
    .cart-items-container{
        height: 300px;
    }
    .cart-image-container>img {
        width: 100px;
    }
    .shipping-form {
        gap: 10px;
        padding-left: 10%;
        padding-right: 10%;
        border: 1px solid rgb(65, 52, 52);
        padding-top: 5px;
    }
    .shipping-form>h2,
            .main-container-cart>h2 {
        margin-bottom: 10px;
        padding: 5px;
        font-size: 17px;
    }
            .main-container-cart>h2 {
        margin-bottom: 10px;
    }
    .form-input-container {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        align-items: center;
        position: relative;
    }
    .form-input-container>label{
        font-size: 13px;
}
    .form-input-container>div>input, .form-input-container>input{
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 300px;
        font-size: 13px;
    }
    .error-message {
        font-size: 10px;
    }
    .cart-btns>button{
        font-size: 13px;
        width: 100px;
    }
}
@media screen and ((max-width:400px) or (max-height:400px)) {
    .cart-main-container {
        padding-left: 10px;
        padding-right: 10px;
    }
        .cart-items-price-container>p {
        font-size: 8px;
        }
    .cart-items-price-container {
        margin-left: 10px;
        flex-direction: row;
    }
        .cart-quantity-controller>input {
        font-size: 9px;
        width: 30px;
        height: 30px;
        }
        .cart-item-delete-button {
        width: 50px;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        }
        .total-price-cart-container>p {
        font-size: 12px;
        }
        .total-price-cart-container>p {
        font-size: 10px;
        }
    .cart-items-price-container>h4 {
        font-size: 8px;
        text-align: center;
    }
    .cart-items-container {
        height: 300px;
    }
    .cart-image-container>img {
        width: 100px;
    }
    .cart-item-delete-button{
        font-size: 8px;
        width: 40px;
    }
    .shipping-form {
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .shipping-form>h2,
            .main-container-cart>h2 {
        margin-bottom: 10px;
        padding: 5px;
        font-size: 15px;
    }
            .main-container-cart>h2 {
        margin-bottom: 10px;
    }
    .form-input-container {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        align-items: center;
        position: relative;
    }
    .form-input-container>input,.form-input-container>div>input {
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 10px;
        width: 240px;
    }
        .form-input-container>label{
        font-size: 10px;
        }
    .error-message {
        font-size: 8px;
    }
        .cart-btns>button {
        font-size: 10px;
        width: 70px;
        }
}
