.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0px;
}
@media screen and (max-width:768px) {
    .footer-container {
            height: 20px;
        }
}
@media screen and (max-width:400px) {
    .footer-container {
       position: relative;
       width: 100%;
       top: 60px;
    }
}
