@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Rajdhani");
@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("https://fonts.googleapis.com/css?family=Delicious+Handrawn");
@import url("https://fonts.googleapis.com/css?family=Alkatra");
@import url('./App.css');
@import url('./home.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./banner.css');
@import url('./itemlist.css');
@import url('./cart.css');
@import url('./popup.css');
@import url('./orders.css');
@import url('./login.css');
@import url('./itemfilter.css');
@import url('./additem.css');
@import url('./singleitem.css');
:root{
    --PRIMARY-CLR :#333333;
    --SECONDARY-CLR :#E1F4F3;
    --NEUTRAL-CLR :white;
    --ADDON-CLR:#706C61;
    --DEFAULT-CONTAINER-PADDING : 80px;
    --SMALL-CONTAINER-PADDING: 20px;
    --DEFAULT-BG:rgba(243, 243, 243, 0.884);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    background-color: white;
    margin: 0px;
}
input{
    width: 350px;
    height: 40px;
    padding: 5px;
    padding-left: 20px;
    border: 0px;
    outline: 0px;
    border-radius: 8px;
    background-color: var(--DEFAULT-BG)
}
input[type=number]{
    text-align: center;
    padding: 0px;
    max-width: 50px;
    border-radius: 100px;
    background-color: rgb(221, 213, 213);
    color:rgb(0, 0, 0);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
}
button{
    border: 0.5px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-family: 'Lora';
    font-weight: 500;
    margin:5px 10px;
    border-color: black;
    color: black;
    background-color: var(--NEUTRAL-CLR);
}
button:hover{
    opacity: 0.9;
    border-color: rgba(33, 30, 30, 0.73);
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans";
}
p{
    font-family: 'Lucida Sans'
}
.pointer{
    cursor: pointer;
}
.grid-row-3{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3,4fr);
}
.grid-row-2{
    display: grid;
    grid-template-columns: repeat(2,6fr);
}
.carousal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center-column>svg{
    margin-bottom: 10px;
}
.g-20{
    gap: 20px;
}
.lg-none{
    display: none;
}
#root{
    height: 100vh;
}
.App{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;
    width: 100%;
}
.footer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
}
.disabled-btn{
    color: grey;
}
@media screen and (max-width:768px) {
    input {
        width: 180px;
        height: 40px;
        padding: 5px;
        padding-left: 20px;
        font-size: 9px;
    }
    input[type=number] {
        text-align: center;
        padding: 0px;
        max-width: 40px;
        border-radius: 100px;
    }
    label{
        font-size: 12px;
    }
    h1{
        font-size: medium;
    }
    h4{
        font-size: 10px;    
    }
    h5{
        font-size:9px;
    }
    h6{
        font-size:8px;
    }
    p{
        font-size: 7px;
    }
    button {
        font-size: 9px;
        width: 60px;
    }
    .lg-none{
        display: flex;
    }

}

@media screen and (max-height:400px) {
        .lg-none {
                display: flex;
            }
            .sm-none{
                display: none;
            }
}
