.item-list-container{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4,20vw);
    padding-left: var(--DEFAULT-CONTAINER-PADDING);
    padding-right: var(--DEFAULT-CONTAINER-PADDING);
    padding-top: 20px;
    gap: 20px;
}
.filter-container {
    padding-left: var(--DEFAULT-CONTAINER-PADDING);
    padding-right: var(--DEFAULT-CONTAINER-PADDING);
    ;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.no-item-container{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.item-container{
    background-color: var(--DEFAULT-BG);
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 5px ;
    width: 100%;;
    gap:5px
}
.item-details-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px
}
.item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.item-image-container{
    width: 60%;
    height: 60%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.item-image{
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: cover;
}
.item-price{
    font-size: 14px;
    font-weight: bolder;
    font-family: 'Rajdhani';
}
.add-to-cart-container{
    display: flex;
    justify-content: flex-end;
    gap:5px;
}
.quanity-input{
    width: 40px;
    height: 35px;
    padding: 5px;
    padding-bottom: 2px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}
.add-to-cart-button{
    border-color: black;
    border-radius: 15px;
    margin-left: 0px;
}
.add-to-cart-button:hover {
    background-color: black;
    color: white;
}
.quantity-handler-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
}
.item-detail-header>h5{
    font-size: 16px;
    font-family: 'Alkatra';
}
.item-detail-header>h6 {
    font-size: 15px;
    color: rgb(56, 53, 53);
}
.edit-item-button{
    width: 30px;

}
@media screen and (max-width:768px) {
    .item-list-container {
        grid-template-columns: repeat(3, 29vw);
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        gap: 20px;
    }
    .item-details-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .item-detail-header>h5{
        font-size: 15px;
    }
    .item-detail-header>h6{
        font-size: 12px;
    }
    .item-price {
        font-size: 13px;
    }
    .item-container {
        padding: 5px;
        padding-bottom: 2px;
        ;
    }
    .add-to-cart-button {
        margin: 0px;
        padding: 0px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (((max-width:400px) or (max-height:400px)) ) {
    .item-list-container {
            grid-template-columns: repeat(3, 30vw);
            padding-left: var(--SMALL-CONTAINER-PADDING);
            padding-right: var(--SMALL-CONTAINER-PADDING);
            padding-top: 20px;
            gap: 20px;
        }
   .item-details-container {
       padding-left: 5px;
       padding-right: 5px;
   }
   .item-image-container {
       width: 80%;
       height: 80%;
   }
        .item-detail-header>h5 {
            font-size: 9px;
        }
        .item-detail-header>h6 {
            font-size: 8px;
        }
        .item-price {
            font-size: 9px;
        }
   .add-to-cart-button {
       margin: 0px;
       padding: 0px;
       height: 15px;
       width: 15px;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .add-to-cart-button{
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
   }
   .add-to-cart-button>p>svg{
    font-size: 13px;
    color: rgb(0, 0, 0);
   }
.item-detail-header>h5 {
    font-size: 8PX;
}

.item-detail-header>h6 {
    font-size: 6px;
}
.item-price{
    font-size: 8px;
}
.add-to-cart-container>button{
    width: 15px;
    height: 15px;
}
.add-to-cart-container>button>p>svg{
    font-size: 10px;
}
}
